/* AboutUs.css */

body {
    margin: 50px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
  }
  
  
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff5a5f;
  }
  
  .navigation a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
  }
  
  .navigation a.active {
    font-weight: bold;
    color: #ff5a5f;
  }
  
  .plan-event-button {
    background-color: #ff5a5f;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .plan-event-button:hover {
    background-color: #e14b4e;
  }
  
  .main-content {
    text-align: center;
    margin-top:100px;
    
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-content h1 {
    font-size: 36px;
    color: #ff5a5f;
  }
  
  .our-story h2 {
    font-size: 28px;
    color: #ff5a5f;
  }
  
  .our-story p {
    margin: 10px auto;
    max-width: 600px;
    line-height: 1.6;
  }
  
 